body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-container, .register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.login-container > button, .register-container > button {
  border-radius: 5px;
  border: none;
  background-color: blue;
  color: #fff;
  padding: 5px 15px;
  font-weight: 600;
}
.login-container > input, .register-container > input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
}